@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

.modern-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.modern-scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.modern-scrollbar::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
  transition: background-color 0.5s ease;
}

.modern-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

@media screen and (min-width: 800px) {
  .modern-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .modern-scrollbar::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
  }
}


.custom-scrollbar::-webkit-scrollbar {
  min-width: 5px;
  max-width: 10px;
  background-color: white;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d946ef;
  transition: background-color 0.5s ease;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c026d3; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  P {
    @apply text-pretty;
  }

  .large-title {
    @apply text-5xl lg:text-6xl font-semibold tracking-tighter text-slate-900 leading-none;
  }

  .title-1 {
    @apply text-3xl lg:text-4xl font-medium tracking-tighter text-slate-900 leading-none;
  }

  .title-2 {
    @apply text-2xl lg:text-3xl font-medium tracking-tighter text-slate-900 leading-none;
  }

  .title-3 {
  }

  p a {
    @apply underline underline-offset-4 font-medium hover:text-blue-600;
  }

  .callout {
    @apply text-sm font-semibold;
  }

  .icon-link {
    @apply text-zinc-900/50 hover:text-blue-600 hover:scale-125 transition-all;
  }

  .p-xl {
    @apply text-2xl lg:text-3xl text-pretty tracking-tight;
  }

  .p-lg {
    @apply text-xl lg:text-2xl text-pretty tracking-tight;
  }

  .half-spacer {
    @apply h-6 w-full max-w-[72rem] flex items-center p-3;
  }

  .max-w {
    @apply max-w-[72rem];
  }
}
